{% extends "base.html" %}
{% load static %}
{% block body %}
<img src="" alt="" height="45px" id="avatar" />
<h1 style="color: #0d6efd;" id="username"></h1>

<div class="card" id="card">
	<div class="card-body">
		<ul>
			<li class="d-flex flex-row">Username: <p id="card_username" class="ps-2"></p>
			</li>
			<li class="d-flex flex-row">Email: <p id="card_email" class="ps-2"></p>
			</li>
			<li class="d-flex flex-row">First Name: <p id="first_name" class="ps-2"></p>
			</li>
			<li class="d-flex flex-row">Last Name: <p id="last_name" class="ps-2"></p>
			</li>
			<li class="d-flex flex-row" id="bio" class="ps-2"></li>
		</ul>
	</div>
</div>

<div class="card">
	<div class="card-body" id="barks">
		<h2>
			<span style="color: #0d6efd;" id="usernameToo"></span><span style="color: black;">'s Barks</span>
		</h2>

	</div>
</div>
{{ request.user.username|json_script:"user_name" }}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}