<a href="/bark/{{bark.id}}">
	<div id="{{bark.id}}" style="border: 1px solid gray; margin: 16px; padding: 8px; border-radius: 10px;">
		<b>{{bark.author.user.username}}</b>
		<p>{{bark.text}}</p>
		{% if bark.media %}
		<img src="{{bark.media.url}}" alt="">
		{% endif %}
		<a class="reply" href="/reply_bark/{{bark.id}}">Reply</a>
	</div>
</a>

<!-- {% if bark.replies %}
{% for reply in bark.replies.all %}
{% with bark=reply template_name="bark_reply_component.html" %}
{% include template_name %}
{% endwith %}
{% endfor %}
{% endif %} -->